# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environments
# ==========================
venv56/
.venv/
env/
ENV/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/



# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Packaging
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Miscellaneous
# ==========================
*.tmp
*.bak
*.png
catboost_info/
# React build dependencies
node_modules/
